*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(110, 110, 138);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
}

.cup {
  background: linear-gradient(to right, white, rgb(207, 199, 199));
  width: 300px;
  height: 300px;
  border-radius: 0 0 45% 45%;
  position: relative;
  top: 50px;
  z-index: 200;
}

.top {
  position: absolute;
  top: -25px;
  width: 100%;
  height: 50px;
  background: linear-gradient(to right, white, rgb(207, 199, 199));
  border-radius: 50%;
}

.circle {
  position: absolute;
  width: calc(100% - 20px);
  top: 10px;
  left: 10px;
  height: 50px;
  background-color: rgb(123, 78, 78);
  border-radius: 50%;
}
.handle {
  position: absolute;
  width: 200px;
  top: 30px;
  right: -90px;
  height: 200px;
  border: 25px solid rgb(207, 199, 199);
  z-index: 1;
  border-radius: 50%;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  transform: rotateZ(50deg);
}
.plate {
  position: absolute;
  left: -100px;
  top: 90px;
  border: 10px solid rgb(230, 223, 223);
  border-radius: 50%;
  width: 500px;
  height: 500px;
  transform: rotateX(250deg);
  z-index: 12;
}
.plate-top {
  position: absolute;
  left: -100px;
  top: 90px;
  border: 5px solid white;
  background: radial-gradient(rgb(151, 145, 145) 30%, rgb(207, 199, 199));
  border-radius: 50%;
  width: 500px;
  height: 500px;
  transform: rotateX(250deg);
  z-index: 11;
}
.vapor {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2px;
}
.vapor > div {
  position: relative;
  top: -20px;
  width: 10px;
  height: 100px;
  background-color: rgb(207, 199, 199);
  border-radius: 50%;
  filter: blur(8px);
  animation: animate 5s linear infinite;
  animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate {
  0% {
    transform: translateY(0px) scaleX(1);
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translateY(-200px) scaleX(5);
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(-400px) scaleX(10);
  }
}
